.page-product{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 260px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.price{
    font-weight: bold;
}